.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}

.item {
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(to bottom, black, blue);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
  color: white;
}

.img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 40px black;
}

.character {
  font-size: 20px;
}

.actor {
  font-size: 18px;
  font-weight: bold;
}
